<div class="datetime-range time-range">
  <div class="start-datetime"
    ng-click="selectStart(ngModel.start)"
    ng-class="{'active': selected === ngModel.start, 'warning': warning === 'start' }">
    <div class="time">{{ ngModel.start.format(includeSeconds ? 'HH : mm : ss' : 'HH : mm') }}</div>
  </div>
  <div class="end-datetime"
    ng-click="selectEnd(ngModel.end)"
    ng-class="{'active': selected === ngModel.end, 'warning': warning === 'end'}">
    <div class="time">{{ ngModel.end.format(includeSeconds ? 'HH : mm : ss' : 'HH : mm') }}</div>
  </div>
  <div class="edit-popover" ng-show="!!selected">
    <div class="timer">
      <div class="timer-hours" scroll-up="setDate(selected.clone().add(1, 'hours'))" scroll-down="setDate(selected.clone().subtract(1, 'hours'))">
        <div class="arrow arrow-up" ng-click="setDate(selected.clone().add(1, 'hours'))"></div>
        {{ selected.format('HH') }}
        <div class="arrow arrow-down" ng-click="setDate(selected.clone().subtract(1, 'hours'))"></div>
      </div>
      <div class="timer-divider">:</div>
      <div class="timer-minutes" scroll-up="setDate(selected.clone().add(1, 'minutes'))" scroll-down="setDate(selected.clone().subtract(1, 'minutes'))">
        <div class="arrow arrow-up" ng-click="setDate(selected.clone().add(1, 'minutes'))"></div>
        {{ selected.format('mm') }}
        <div class="arrow arrow-down" ng-click="setDate(selected.clone().subtract(1, 'minutes'))"></div>
      </div>
      <div class="timer-divider" ng-show="!!includeSeconds">:</div>
      <div class="timer-seconds" ng-show="!!includeSeconds" scroll-up="setDate(selected.clone().add(1, 'seconds'))" scroll-down="setDate(selected.clone().subtract(1, 'seconds'))">
        <div class="arrow arrow-up" ng-click="setDate(selected.clone().add(1, 'seconds'))"></div>
        {{ selected.format('ss') }}
        <div class="arrow arrow-down" ng-click="setDate(selected.clone().subtract(1, 'seconds'))"></div>
      </div>
    </div>
    <div class="close-button" ng-show="showClose">
      <div ng-click="close()">Close</div>
    </div>
  </div>
</div>
